<h1>Product and Information</h1>
<% @products.each do |product| %>

  <hr>
  <div>
    <h4><%= link_to product.title , product_path(product)%></h4>
    <!-- Description:<%#= product.description %> -->
    Price:      $ <%= product.price %>
    Sku:        <%= product.sku %>
    Quantity:   <%= product.quantity %>
    <br>
    Producer Name:   <%= product.producer.name %>
    <!-- Producer Information:   <%#= product.producer.information %> -->
      <!-- <%# if product.avatars.present? %>
        <%#= image_tag product.avatar.url(:thumb) %>
      <%# end %> -->
  </div>
<% end %>
<%= paginate @products, theme: 'twitter-bootstrap-3' %>
