<h4>Add Review</h4>
<%= simple_form_for [@product, @review], remote: true do |f| %>
  <%= f.input :body, label: false, input_html: {placeholder: "review"} %>
  <%= f.input :image %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
