<!-- Footer -->
<footer class="footer navbar-float">
    <div class="row">
        <div class="col-md-9">
            <p>Copyright &copy; Gallery 2015</p>
        </div>
    <div class="row">
        <br><br>
        <div class="col-md-1">
            <%= link_to image_tag("facebook.png", size: "40x40"), "https://www.facebook.com" %></div>
        <div class="col-md-1">
            <%= link_to image_tag("youtube.png", size: "40x40"), "https://www.facebook.com" %></div>
        <div class="col-md-1">
            <%= link_to image_tag("twitter.png", size: "40x40"), "https://twitter.com" %></div>
    </div>
    <!-- /.row -->
</footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
